
body{
   max-width: 100%;
    margin: 0;
    padding:0;
    overflow-x: hidden;

}
.Header{
    position: sticky;
    z-index: 20;
    display:flex;
    align-items: center;
    justify-content: space-between; 
}
.logo{
    float: left;
    padding-top: 5px;
    padding-left: 150px;
}
.side-div{
    display: flex;
    float: right;
    padding-right: 100px;
}
.button {
    
    font-size: medium;
    background-color: white;
    color: hsl(233, 8%, 62%);
    padding-bottom: 25px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width:0 ;
    border-bottom-width: 4px;
    border-style: solid;
    border-bottom-color: transparent;
}
button:hover{
    cursor: pointer;
    color: black;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width:0 ;
    border-bottom-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, hsl(136, 65%, 51%), 
    hsl(192, 70%, 51%)) 1;

    
}
.b{
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), 
    hsl(192, 70%, 51%)) ;
   color: white;
   font-size: medium;
   margin-left: 5px;
   margin-top: 5px;margin-bottom: 5px;
   
}
.buttons{
    margin-top:15px ;
    margin-right:250px;
}
 .b:hover{
    cursor: pointer;
    border-bottom: 0px;
    color: white;
    background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.671), 
    hsla(192, 70%, 51%, 0.671)) ;
 }        
.bg-intro{
    overflow-x: hidden;
    z-index: 5;  float: right;
    height: 400;
    
}
.phones{
    z-index: 10; 
    float: right;
    
    height: 400;
    position: absolute;
}
.div1{
    font-family: 'Public Sans';
    background-color:hsl(0, 0%, 98%); 
    display: flex; 
}
.div2{
    float:left; 
     
    margin-left: 150px;
    margin-top: 150px;
    margin-right: 10px;
} 
.h1{
    font-weight: 700;
    width: 300px;
    font-size: 40px;
    color: hsl(233, 26%, 24%);
    font-family: 'Public sans';
} 
.p{
    width: 400px;
   color: hsl(233, 8%, 62%);
}

.div3{
    padding-left: 150px;
    padding-top: 250px;
    font-family: 'Public Sans';
    background-color: hsl(220, 16%, 96%); 
    
} 
.div3-h1{
    font-weight: 700;
    font-size: 40px;
    color: hsl(233, 26%, 24%);
}
.div3-p{
    width: 570px;
    color: hsl(233, 8%, 62%);

}

.div4{
    padding-top: 10px;
     display: flex;
      
     
}
.card{
    margin: 20px;
    width:250px;
    height: 300px;
    z-index: 10;
}
.card >h3{
    font-size: 18;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}
.card >p{
    font-size: 18;
    font-weight: 300;
   color: hsl(233, 8%, 62%);
}
.latest{
    padding-bottom: 45px;
    background-color: hsl(0, 0%, 98%);
    padding-left: 150px;
    padding-top: 10px;}
.articles{
    display: flex
}
.div5{
    margin-right: 30px;
    width: 250px; 
    background-color: hsl(0, 0%, 100%);
}
.div5 > img{
    border-top-right-radius:10px ; border-top-left-radius:10px ;
    width: 250px;
    height: 200px;

}
.div5 > h6{
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    padding-left: 10px;
}
.div5 > h3{
    padding-left: 10px;
    width: 200px;
    font-size: 18;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}
.div5 > p{
    padding-left: 10px;
    width: 220px;
    color: hsl(233, 8%, 62%);
}
.div5 >h3:hover{

    cursor: pointer;
    color:  hsl(192, 70%, 51%);
}
footer{
    background-color:hsl(233, 26%, 24%) ; 

    display: flow-root;}
.socials{
    
    display: grid;
    
    
}
.images{
   margin: 3px;
}
.images:hover{
    cursor: pointer;
}
.acb{
    margin-left: 150px;
    padding-bottom: 35px;
}
.acb > h5{
    font-weight: 300;
    color: white;
    font-family:'Public Sans' ;
}
.acb >h5:hover{
    color:  hsl(136, 65%, 51%);
    cursor: pointer;
}
.b1{
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), 
    hsl(192, 70%, 51%)) ;
   color: white;
   font-size: medium;
   
   
}
.b1:hover{
    cursor: pointer;
    border-bottom: 0px;
    color: white;
    background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.671), 
    hsla(192, 70%, 51%, 0.671)) ;
 }  
 .p1{
    
   color: hsl(233, 8%, 62%);
}
.div6{
    margin-bottom: 0;
    padding-top: 20px; float: right; margin-right: 20px;background-color:hsl(233, 26%, 24%) ; 
}